body{
font-family:Poppins, Arial;
margin:0;
background:white;
color:#222;
}

nav{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:white;
border-bottom:2px solid gold;
z-index:1000;
}

nav a{
text-decoration:none;
color:#2a6fdb;
margin-left:20px;
font-weight:500;
}

nav a:hover{
color:gold;
}

.logo{
display:flex;
align-items:center;
gap:10px;
}

.logo img{
height:50px;
}

.hero{
margin-top:80px;
height:90vh;
background:url("zbt-house.jpg") center/cover no-repeat;
display:flex;
align-items:center;
justify-content:center;
}

.hero h1{
color:white;
font-size:70px;
text-shadow:0 4px 20px rgba(0,0,0,.6);
}

section{
max-width:1100px;
margin:auto;
padding:120px 20px;
}

.button{
background:gold;
padding:14px 28px;
text-decoration:none;
color:black;
border-radius:6px;
display:inline-block;
margin-top:20px;
font-weight:600;
}

.board{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
}

.member{
background:#f8fbff;
padding:20px;
border-radius:10px;
text-align:center;
border:1px solid gold;
}

.member img{
width:100%;
border-radius:8px;
}

footer{
background:#2a6fdb;
color:white;
text-align:center;
padding:30px;
margin-top:80px;
}
